.navbar.navbar-default.navbar-static-top.navbar-fixed-top
  .container
    %button.navbar-toggle{"data-target": ".navbar-responsive-collapse", "data-toggle": "collapse", type: "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{href: "/"}
      %img{alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "36px", src: "/assets/logo-b99f177af8fb82de2d6d7b86e95c7f329d3d143edd8b225bc2875ad9dd6e0cc3.png"}/

  .navbar-collapse.collapse.navbar-responsive-collapse
    %ul.nav.navbar-nav.navbar-right
      %li
        .btn.btn-primary.navbar-btn
          %a{href: "/users/sign_in"} Get Started

%form#new_user.container.user-new{"accept-charset" => "UTF-8", :action => "/users", :enctype => "multipart/form-data", :method => "post"}
  %input{name: "utf8", type: "hidden", value: "✓"}/
  %input{name: "authenticity_token", type: "hidden", value: "z7zm6+09MeDjAACq/PjdM+eztxlXI7U5S1xeG3HYif/tmUS9K4vK3AueQ2U7GcYDkf7Uh2KW8CMXsFBFJm591g=="}/
  .col-md-8.col-md-offset-2
    %header.row.user-nav.row
      .col-md-12
        %h2 Register
        .user-name_image.row
          .user-name.col-md-10
            %input#user_username{autofocus: "autofocus", name: "user[username]", placeholder: "Username", type: "text"}/
          .user-image.col-md-2
            %img#user_avatar.media-object{alt: "64x64", "data-holder-rendered": "true", "data-src": "holder.js/64x64", src: "", style: "display:none; width:100%; height:100%;"}/
            %button.btn.btn-primary
              %a{href: ""}Add Image
            %input#upload_avatar{name: "user[avatar]", type: "file"}/
            %input#user_email.user-email{autofocus: "autofocus", name: "user[email]", placeholder: "E-Mail", type: "email", value: ""}/
            %input#user_password.user-password{autocomplete: "off", name:  "user[password]", placeholder: "Password", type: "password"}/
      .col-md-12
        %h4 Member of
        .user-user-member.row
          .user-name.col-md-12
            %input#user_group{autofocus: "autofocus", name: "user[group]", placeholder: "Member", type: "text"}/

        %h4 Profile
        .user-user-profile.row
          .user-name.col-md-12
            %textarea#user_profile{cols: "30", name: "user[profile]", placeholder: "Profile", rows: "4"}

        %h4 Works
        .user-name_image.row
          .user-name.col-md-12
            %textarea#user_work{cols: "30", name: "user[work]", placeholder: "Works", rows: "4"}

      .row.text-center.user-btn
        %input.btn.btn-lg.btn-primary.btn-block{name: "commit", type: "submit", value: "Save"}/

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  .field
    %input#user_username{autofocus: true, name: "user[username]", placeholder: "Username", type: "text"}/
  %br/
  .field
    = f.email_field :email, autofocus: true, placeholder: "E-Mail", type: "string"
  %br/
  .field
    = f.password_field :password, autocomplete: "off", placeholder: "Password"
  %br/
-#

  .field
    = f.label :member of
    %br/
    = f.field :member_of, placeholder: "Member", type: "string"
  %br/
  .field
  = f.label :profile
  %br/
  = f.field :profile, placeholder: "Profile", type: "text"
  %br/
  .field
  = f.label :works
  %br/
  = fa.field :Works, placeholder: "Works", type: "string"
  %br/

  .actions
  = f.submit "SAVE"

= render "devise/shared/links"

%footer
  %p © PROTO SPACE 2015.
