.navbar.navbar-default.navbar-static-top.navbar-fixed-top
  .container
    %button.navbar-toggle{"data-target": ".navbar-responsive-collapse", "data-toggle": "collapse", type: "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{href: "/"}
      %img{alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "36px", src: "/assets/logo-b99f177af8fb82de2d6d7b86e95c7f329d3d143edd8b225bc2875ad9dd6e0cc3.png"}/
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded": "false", "data-toggle": "dropdown", href: "#", role: "button"}
            users.name
            %span.caret
            %ul.dropdown-menu{role: "menu"}
              %li
                %a{href: "/users/id"} My Page
              %li
                %a{href: "/users/id/edit"} Profile Edit
              %li
                %a{"data-method": "delete", href: "/users/sign_out", rel: "nofollow"} Logout
        %li
          .btn.btn-primary.navbar-btn
            %a{href: "/prototypes/new"} New Proto

.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li.active{role: "presentation"}
          %a{href: "#"} Popular PROTO
        %li{role: "presentation"}
          %a{href: "#"} Newest PROTO
      %button{type: "button", class: "btn btn-default col-lg-1"} View Tags

.container.proto-list
  .row
    .col-sm-4.col-md-3.proto-content
      .thumbnail
        %a{href: "/prototypes/show"}
          = image_tag("sample.png")
          .caption
            %h3 Salvation Army on iPad App Wireframe
            .proto-meta
              .proto-user
                %a{href: "#"} by user
              .proto-posted
                Apr 26
            %ul.proto-tag-list.list-inline
              %li
                %a{href: "#", class: "btn btn-default"} iPad
              %li
                %a{href: "#", class: "btn btn-default"} wireframe

    .col-sm-4.col-md-3.proto-content
      .thumbnail
        %a{href: "/prototypes/show"}
          = image_tag("sample.png")
          .caption
            %h3 Salvation Army on iPad App Wireframe
            .proto-meta
              .proto-user
                %a{href: "#"} by user
              .proto-posted
                Apr 26
            %ul.proto-tag-list.list-inline
              %li
                %a{href: "#", class: "btn btn-default"} iPad
              %li
                %a{href: "#", class: "btn btn-default"} wireframe

    .col-sm-4.col-md-3.proto-content
      .thumbnail
        %a{href: "/prototypes/show"}
          = image_tag("sample.png")
          .caption
            %h3 Salvation Army on iPad App Wireframe
            .proto-meta
              .proto-user
                %a{href: "#"} by user
              .proto-posted
                Apr 26
            %ul.proto-tag-list.list-inline
              %li
                %a{href: "#", class: "btn btn-default"} iPad
              %li
                %a{href: "#", class: "btn btn-default"} wireframe

    .col-sm-4.col-md-3.proto-content
      .thumbnail
        %a{href: "/prototypes/show"}
          = image_tag("sample.png")
          .caption
            %h3 Salvation Army on iPad App Wireframe
            .proto-meta
              .proto-user
                %a{href: "#"} by user
              .proto-posted
                Apr 26
            %ul.proto-tag-list.list-inline
              %li
                %a{href: "#", class: "btn btn-default"} iPad
              %li
                %a{href: "#", class: "btn btn-default"} wireframe

    .col-sm-4.col-md-3.proto-content
      .thumbnail
        %a{href: "/prototypes/show"}
          = image_tag("sample.png")
          .caption
            %h3 Salvation Army on iPad App Wireframe
            .proto-meta
              .proto-user
                %a{href: "#"} by user
              .proto-posted
                Apr 26
            %ul.proto-tag-list.list-inline
              %li
                %a{href: "#", class: "btn btn-default"} iPad
              %li
                %a{href: "#", class: "btn btn-default"} wireframe

    .col-sm-4.col-md-3.proto-content
      .thumbnail
        %a{href: "/prototypes/show"}
          = image_tag("sample.png")
          .caption
            %h3 Salvation Army on iPad App Wireframe
            .proto-meta
              .proto-user
                %a{href: "#"} by user
              .proto-posted
                Apr 26
            %ul.proto-tag-list.list-inline
              %li
                %a{href: "#", class: "btn btn-default"} iPad
              %li
                %a{href: "#", class: "btn btn-default"} wireframe

    .col-sm-4.col-md-3.proto-content
      .thumbnail
        %a{href: "/prototypes/show"}
          = image_tag("sample.png")
          .caption
            %h3 Salvation Army on iPad App Wireframe
            .proto-meta
              .proto-user
                %a{href: "#"} by user
              .proto-posted
                Apr 26
            %ul.proto-tag-list.list-inline
              %li
                %a{href: "#", class: "btn btn-default"} iPad
              %li
                %a{href: "#", class: "btn btn-default"} wireframe

    .col-sm-4.col-md-3.proto-content
      .thumbnail
        %a{href: "/prototypes/show"}
          = image_tag("sample.png")
          .caption
            %h3 Salvation Army on iPad App Wireframe
            .proto-meta
              .proto-user
                %a{href: "#"} by user
              .proto-posted
                Apr 26
            %ul.proto-tag-list.list-inline
              %li
                %a{href: "#", class: "btn btn-default"} iPad
              %li
                %a{href: "#", class: "btn btn-default"} wireframe

.text-center
  %ul.pagination
    %li.disabled
      %a{"aria-label" => "Previous", href: "#"}
        %span{"aria-hidden" => "true"} «

    %li.active
      %a{href: "#"}
        1
        %span.sr-only (current)

    %li
      %a{href: "#"} 2

    %li
      %a{href: "#"} 3

    %li
      %a{href: "#"} 4

    %li
      %a{href: "#"} 5
    %li
      %a{"aria-label": "Next", href: "#"}
        %span{"aria-hidden": "true"} »
